1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [15]:
# a)

for i in range(100):
    if i%3 == 0 and i%5 == 0:
        print("MickeyMouse")
    elif i%3 == 0:
        print("Mickey")
    elif i%5 == 0:
        print("Mouse")
    else:   
        print(i)

MickeyMouse
1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

In [16]:
# b)

A = []
for i in range(100):
    if i%3 == 0 and i%5 == 0:
        a = "MickeyMouse"
    elif i%3 == 0:
        a = "Mickey"
    elif i%5 == 0:
        a = "Mouse"
    else:   
        a = i
        
    A.append(a)

print(A)
B = ["Donald" if A[i] == "Mickey" else "Duck" if A[i] == "Mouse" else A[i] for i in range(len(A))]   # nice to understand condition in comprehension https://stackoverflow.com/questions/9987483/elif-in-list-comprehension-conditionals
print(B)

B_tuple = tuple(B)
print(B_tuple)

['MickeyMouse', 1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey']
['MickeyMouse', 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald']
('MickeyMouse', 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [17]:
def swap(a, b): # with a temporary variable
    t = b
    b = a
    a = t
    return (a, b)

x = "of data"
y = "physics"

print(x,y)
x, y = swap(x, y)
print (x,y)

of data physics
physics of data

In [18]:
def swap2(a,b): #without a temporary variable
    return (b,a)

i = "science"
j = "data"

print(i, j)
i, j = swap2(i, j)
print(i, j)

science data
data science

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [19]:
import numpy as np 

def distance(u, v):
    d = np.sqrt( (u[0]-v[0])**2 + (u[1]-v[1])**2 ) # difference of each xi coordinates, squared
    return d

u=(3,0)
v=(0,4)

D = distance(u, v)
print("distance = ", D)

distance =  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [20]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [21]:
def character_count(x):
    x = x.lower()
    counts=[]
    while len(x)>0:
        i = x[0]
        counts.append([i, x.count(i)])
        x =  x.replace(i, '')
    return counts

character_count(s)

[['w', 2],
 ['r', 17],
 ['i', 14],
 ['t', 19],
 ['e', 22],
 [' ', 41],
 ['a', 7],
 ['p', 8],
 ['o', 13],
 ['g', 1],
 ['m', 12],
 ['h', 9],
 ['n', 10],
 ['s', 9],
 ['u', 9],
 ['b', 5],
 ['f', 10],
 ['1', 2],
 ['0', 2],
 ['.', 2],
 ['l', 6],
 ['c', 3],
 ['k', 2],
 ['y', 2],
 ['d', 3],
 ['v', 2]]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [22]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [23]:
def unique(L):
    c = [i for i in L if L.count(i)==1]   # inspired from https://stackoverflow.com/questions/36268749/how-to-remove-multiple-items-from-a-list-in-just-one-statement
    return c

c = unique(l)
print(c,f"\n{len(c)} unique numbers")

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
37 unique numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [24]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return cube(square(x))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [25]:
# a)

cubes1 = []
for i in range(0,10):
    cubes1.append(i**3)
    
print(cubes1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [26]:
# b)

cubes2 = [i**3 for i in range(0,10)]

print(cubes2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [27]:
triple = [(a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2 + b**2 == c**2] # tried with triple = [(a,b,c) for a, b, c in range(0,100) if a**2 + b**2 == c**2] but not working, had to ask for solution to understand what was wrong
print(triple)
print(len(triple))

# excluded the case where a or b or c = 0
# however this gives triples that are the same if we permute (like (3, 4, 5), (4, 3, 5)) and does not only provide the primitive tuples ((6, 8, 10) is a multiple of (3, 4, 5) for example)
# https://www.geeksforgeeks.org/python/nested-list-comprehensions-in-python/

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]
100

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [28]:
def normalized(x):           # scaling the max element to one ? no. scaling so that the magnitude (norm) of the tuple is 1
    
    z = 0
    for i in range(len(x)):
        z = z + x[i]**2
    z = np.sqrt(z)
    
    y = [x[i]/z for i in range(len(x))] 
    y = tuple(y)
    
    return y  


j = (2,6,7,3)
normalized(j)

(np.float64(0.20203050891044214),
 np.float64(0.6060915267313265),
 np.float64(0.7071067811865476),
 np.float64(0.30304576336566325))